<!DOCTYPE html>
{% include 'header.html.twig' %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Amazon{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('style.css') }}">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            
    <h1>Admin Panel</h1>

    <h2>Dodaj Artikl</h2>
    <form action="{{ path('dodajartikl') }}" method="POST">
        <div>
            <label for="cena">Cena:</label>
            <input type="text" id="cena" name="cena" required>
        </div>
        <div>
            <label for="kolicina">Kolicina:</label>
            <input type="number" id="kolicina" name="kolicina" required>
        </div>
        <div>
            <label for="ime">Ime:</label>
            <input type="text" id="ime" name="ime" required>
        </div>
        <div>
            <label for="opis_proizvoda">Opis Proizvoda:</label>
            <textarea id="opis_proizvoda" name="opis_proizvoda" required></textarea>
        </div>
        <button type="submit">Create</button>
    </form>
    
  </body>
        {% endblock %}
    
</html>
