

<footer class="npc">
      <div class="top">
        <a href="">Back to Top</a>
      </div>
      <div class="customer-footer">
        <div class="cust1">
          <p class="cust-first">Get to Know Us</p>
          <p class="cust-Second">Career</p>
          <p class="cust-Second">Blog</p>
          <p class="cust-Second">About Amazon</p>
          <p class="cust-Second">Investor Relations</p>
          <p class="cust-Second">Amazon Devices</p>
          <p class="cust-Second">Amazon Science</p>
          
        </div>
        <div class="cust1">
          <p class="cust-first">Get to Know Us</p>
          <p class="cust-Second">Career</p>
          <p class="cust-Second">Blog</p>
          <p class="cust-Second">About Amazon</p>
          <p class="cust-Second">Investor Relations</p>
          <p class="cust-Second">Amazon Devices</p>
          <p class="cust-Second">Amazon Science</p>
          
        </div>
        <div class="cust1">
          <p class="cust-first">Get to Know Us</p>
          <p class="cust-Second">Career</p>
          <p class="cust-Second">Blog</p>
          <p class="cust-Second">About Amazon</p>
          <p class="cust-Second">Investor Relations</p>
          <p class="cust-Second">Amazon Devices</p>
          <p class="cust-Second">Amazon Science</p>
          
        </div>
        <div class="cust1">
          <p class="cust-first">Get to Know Us</p>
          <p class="cust-Second">Email</p>
          
        </div>
      </div>
    </footer>